extends index

block content
  .row.justify-content-center
    .col-xl-2
      .card.mb-3.small.shadow-sm
        .card-header=("Player Slots")
          | &nbsp;(#{dss.slots.used}/#{dss.slots.capacity})
        ul.list-group.list-group-flush
          if dss.players.length > 0
            each player in dss.players
              li.list-group-item=player.name
                if player.isAdmin
                  span.top-0.ms-1.badge.square-pill.bg-info
                    | Admin
                span.float-end=player.uptime
          else
            li.list-group-item=("No players online")
        .card-footer=("Money") + ":"
          span.float-end #{csg.money}
    .col-xl-auto
      #map
    .col-xl-2
      .card.mb-3.small.shadow-sm
        .card-header=("Server Details")
        ul.list-group.list-group-flush
          li.list-group-item
            b=("Console Slots")
            span.float-end #{csg.slotUsage}
          li.list-group-item
            b=("Savegame Name")
            span.float-end #{csg.savegameName}
          li.list-group-item
            b=("Creation Date")
            span.float-end #{csg.creationDate}
          li.list-group-item
            b=("Map")
            span.float-end #{csg.mapTitle}
          li.list-group-item
            b=("Server Version")
            span.float-end #{dss.server.version}
          li.list-group-item
            b=("Timescale")
            span.float-end #{csg.timeScale}
          li.list-group-item
            b=("Autosave Interval")
            span.float-end #{csg.saveInterval}
          li.list-group-item
            b=("Economy Difficulty")
            if csg.economicDifficulty=="1"
              span.float-end Easy
            if csg.economicDifficulty=="2"
              span.float-end Normal
            if csg.economicDifficulty=="3"
              span.float-end Hard
          li.list-group-item
            b=("Fixed Visual Month")
            if csg.fixedSeasonalVisuals=="nil"
              span.float-end Off
            if csg.fixedSeasonalVisuals=="1"
              span.float-end March
            if csg.fixedSeasonalVisuals=="2"
              span.float-end April
            if csg.fixedSeasonalVisuals=="3"
              span.float-end May
            if csg.fixedSeasonalVisuals=="4"
              span.float-end June
            if csg.fixedSeasonalVisuals=="5"
              span.float-end July
            if csg.fixedSeasonalVisuals=="6"
              span.float-end August
            if csg.fixedSeasonalVisuals=="7"
              span.float-end September
            if csg.fixedSeasonalVisuals=="8"
              span.float-end October
            if csg.fixedSeasonalVisuals=="9"
              span.float-end November
            if csg.fixedSeasonalVisuals=="10"
              span.float-end December
            if csg.fixedSeasonalVisuals=="11"
              span.float-end January
            if csg.fixedSeasonalVisuals=="12"
              span.float-end February
          li.list-group-item
            b=("Growth Mode")
            if csg.growthMode=="1"
              span.float-end Yes
            if csg.growthMode=="2"
              span.float-end No
            if csg.growthMode=="3"
              span.float-end Crops paused
          li.list-group-item
            b=("Fuel Usage")
            if csg.fuelUsage=="1"
              span.float-end Low
            if csg.fuelUsage=="2"
              span.float-end Normal
            if csg.fuelUsage=="3"
              span.float-end High
          li.list-group-item
            b=("Dirt Setting")
            if csg.dirtInterval=="1"
              span.float-end Off
            if csg.dirtInterval=="2"
              span.float-end Slow
            if csg.dirtInterval=="3"
              span.float-end Normal
            if csg.dirtInterval=="4"
              span.float-end Fast
          li.list-group-item
            b=("Plowing Required")
            if csg.plowingRequiredEnabled=="false"
              span.float-end Off
            if csg.plowingRequiredEnabled=="true"
              span.float-end On
          li.list-group-item
            b=("Automatic Motor Start")
            if csg.automaticMotorStartEnabled=="false"
              span.float-end Off
            if csg.automaticMotorStartEnabled=="true"
              span.float-end On
          li.list-group-item
            b=("Crop Destruction")
            if csg.fruitDestruction=="false"
              span.float-end Off
            if csg.fruitDestruction=="true"
              span.float-end On
      .card.mb-3.small.shadow-sm
        .card-header=("Helper Settings")
        ul.list-group.list-group-flush
          li.list-group-item
            b=("Buy Fuel")
            if csg.helperBuyFuel=="true"
              span.float-end Buy
            if csg.helperBuyFuel=="false"
              span.float-end Off
          li.list-group-item
            b=("Buy Seeds")
            if csg.helperBuySeeds=="true"
              span.float-end Buy
            if csg.helperBuySeeds=="false"
              span.float-end Off
          li.list-group-item
            b=("Buy Fertilizer")
            if csg.helperBuyFertilizer=="true"
              span.float-end Buy
            if csg.helperBuyFertilizer=="false"
              span.float-end Off
          li.list-group-item
            b=("Slurry Source")
            if csg.helperSlurrySource=="1"
              span.float-end Off
            if csg.helperSlurrySource=="2"
              span.float-end Buy
          li.list-group-item
            b=("Manure Source")
            if csg.helperManureSource=="1"
              span.float-end Off
            if csg.helperManureSource=="2"
              span.float-end Buy
